# /facebook_ads/openapi.yaml
openapi: 3.0.0
info:
  title: Facebook Ads API Connector
  version: 1.0.0
  description: Connector for Facebook Ads Campaigns and Ad Sets API
servers:
  - url: https://graph.facebook.com/v21.0
paths:
  /campaigns:
    get:
      summary: Retrieve a list of campaigns
      parameters:
        - $ref: './components/parameters/date_preset.yaml'
        - $ref: './components/parameters/time_range.yaml'
      responses:
        '200':
          $ref: './components/responses/200.yaml'
        '400':
          $ref: './components/responses/BadRequest.yaml'
        '404':
          $ref: './components/responses/NotFound.yaml'
    post:
      summary: Create a new campaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './components/schemas/Campaign.yaml'
      responses:
        '201':
          description: Campaign created successfully
          content:
            application/json:
              schema:
                $ref: './components/schemas/Campaign.yaml'
        '400':
          $ref: './components/responses/BadRequest.yaml'
  /campaigns/{campaignId}:
    get:
      summary: Retrieve a single campaign by ID
      parameters:
        - $ref: './components/parameters/campaignId.yaml'
      responses:
        '200':
          $ref: './components/responses/200.yaml'
        '400':
          $ref: './components/responses/BadRequest.yaml'
        '404':
          $ref: './components/responses/NotFound.yaml'
    put:
      summary: Update an existing campaign
      parameters:
        - $ref: './components/parameters/campaignId.yaml'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './components/schemas/Campaign.yaml'
      responses:
        '200':
          description: Campaign updated successfully
          content:
            application/json:
              schema:
                $ref: './components/schemas/Campaign.yaml'
        '400':
          $ref: './components/responses/BadRequest.yaml'
    delete:
      summary: Delete a campaign
      parameters:
        - $ref: './components/parameters/campaignId.yaml'
      responses:
        '204':
          description: Campaign deleted successfully
        '404':
          $ref: './components/responses/NotFound.yaml'
  /campaigns/{campaignId}/insights:
    get:
      summary: Retrieve insights for a specific Campaign
      parameters:
        - $ref: './components/parameters/campaignId.yaml'
        - $ref: './components/parameters/date_preset.yaml'
        - $ref: './components/parameters/time_range.yaml'
        - $ref: './components/parameters/level.yaml'
        - $ref: './components/parameters/breakdowns.yaml'
        - $ref: './components/parameters/fields.yaml'
        - $ref: './components/parameters/sort.yaml'
        - $ref: './components/parameters/filtering.yaml'
        - $ref: './components/parameters/action_attribution_windows.yaml'
      responses:
        '200':
          description: Insights data for the Campaign
          content:
            application/json:
              schema:
                $ref: './components/schemas/CampaignInsightsList.yaml'
        '400':
          $ref: './components/responses/BadRequest.yaml'
        '404':
          $ref: './components/responses/NotFound.yaml'
  /adsets:
    get:
      summary: Retrieve a list of Ad Sets
      parameters:
        - $ref: './components/parameters/date_preset.yaml'
        - $ref: './components/parameters/time_range.yaml'
      responses:
        '200':
          $ref: './components/responses/200.yaml'
        '400':
          $ref: './components/responses/BadRequest.yaml'
        '404':
          $ref: './components/responses/NotFound.yaml'
    post:
      summary: Create a new Ad Set
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './components/schemas/AdSet.yaml'
      responses:
        '201':
          description: Ad Set created successfully
          content:
            application/json:
              schema:
                $ref: './components/schemas/AdSet.yaml'
        '400':
          $ref: './components/responses/BadRequest.yaml'
  /adsets/{adSetId}:
    get:
      summary: Retrieve a single Ad Set by ID
      parameters:
        - $ref: './components/parameters/adSetId.yaml'
      responses:
        '200':
          $ref: './components/responses/200.yaml'
        '400':
          $ref: './components/responses/BadRequest.yaml'
        '404':
          $ref: './components/responses/NotFound.yaml'
    put:
      summary: Update an existing Ad Set
      parameters:
        - $ref: './components/parameters/adSetId.yaml'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './components/schemas/AdSet.yaml'
      responses:
        '200':
          description: Ad Set updated successfully
          content:
            application/json:
              schema:
                $ref: './components/schemas/AdSet.yaml'
        '400':
          $ref: './components/responses/BadRequest.yaml'
        '404':
          $ref: './components/responses/NotFound.yaml'
    delete:
      summary: Delete an Ad Set
      parameters:
        - $ref: './components/parameters/adSetId.yaml'
      responses:
        '204':
          description: Ad Set deleted successfully
        '404':
          $ref: './components/responses/NotFound.yaml'
  /adsets/{adSetId}/insights:
    get:
      summary: Retrieve insights for a specific Ad Set
      parameters:
        - $ref: './components/parameters/adSetId.yaml'
        - $ref: './components/parameters/date_preset.yaml'
        - $ref: './components/parameters/time_range.yaml'
        - $ref: './components/parameters/level.yaml'
        - $ref: './components/parameters/breakdowns.yaml'
        - $ref: './components/parameters/fields.yaml'
        - $ref: './components/parameters/sort.yaml'
        - $ref: './components/parameters/filtering.yaml'
        - $ref: './components/parameters/action_attribution_windows.yaml'
        - $ref: './components/parameters/action_breakdowns.yaml'
      responses:
        '200':
          description: Insights data for the Ad Set
          content:
            application/json:
              schema:
                $ref: './components/schemas/AdSetInsightsList.yaml'
        '400':
          $ref: './components/responses/BadRequest.yaml'
        '404':
          $ref: './components/responses/NotFound.yaml'
  /ads:
    get:
      summary: Retrieve a list of Ads
      parameters:
        - $ref: './components/parameters/date_preset.yaml'
        - $ref: './components/parameters/effective_status.yaml'
        - $ref: './components/parameters/time_range.yaml'
        - $ref: './components/parameters/updated_since.yaml'
      responses:
        '200':
          description: A list of Ads
          content:
            application/json:
              schema:
                $ref: './components/schemas/AdList.yaml'
        '400':
          $ref: './components/responses/BadRequest.yaml'
        '404':
          $ref: './components/responses/NotFound.yaml'
    post:
      summary: Create a new Ad
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './components/schemas/Ad.yaml'
      responses:
        '201':
          description: Ad created successfully
          content:
            application/json:
              schema:
                $ref: './components/schemas/Ad.yaml'
        '400':
          $ref: './components/responses/BadRequest.yaml'
  /ads/{adId}:
    get:
      summary: Retrieve a single Ad by ID
      parameters:
        - $ref: './components/parameters/adId.yaml'
      responses:
        '200':
          description: A single Ad
          content:
            application/json:
              schema:
                $ref: './components/schemas/Ad.yaml'
        '400':
          $ref: './components/responses/BadRequest.yaml'
        '404':
          $ref: './components/responses/NotFound.yaml'
    put:
      summary: Update an existing Ad
      parameters:
        - $ref: './components/parameters/adId.yaml'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './components/schemas/Ad.yaml'
      responses:
        '200':
          description: Ad updated successfully
          content:
            application/json:
              schema:
                $ref: './components/schemas/Ad.yaml'
        '400':
          $ref: './components/responses/BadRequest.yaml'
        '404':
          $ref: './components/responses/NotFound.yaml'
    delete:
      summary: Delete an Ad
      parameters:
        - $ref: './components/parameters/adId.yaml'
      responses:
        '204':
          description: Ad deleted successfully
        '404':
          $ref: './components/responses/NotFound.yaml'
  /ads/{adId}/insights:
    get:
      summary: Retrieve insights for a specific Ad
      parameters:
        - $ref: './components/parameters/adId.yaml'
        - $ref: './components/parameters/date_preset.yaml'
        - $ref: './components/parameters/time_range.yaml'
        - $ref: './components/parameters/level.yaml'
        - $ref: './components/parameters/breakdowns.yaml'
        - $ref: './components/parameters/fields.yaml'
        - $ref: './components/parameters/sort.yaml'
        - $ref: './components/parameters/filtering.yaml'
        - $ref: './components/parameters/action_attribution_windows.yaml'
        - $ref: './components/parameters/action_breakdowns.yaml'
      responses:
        '200':
          description: Insights data for the Ad
          content:
            application/json:
              schema:
                $ref: './components/schemas/AdInsightsList.yaml'
        '400':
          $ref: './components/responses/BadRequest.yaml'
        '404':
          $ref: './components/responses/NotFound.yaml'
components:
  schemas:
    Campaign:
      $ref: './components/schemas/Campaign.yaml'
    CampaignList:
      $ref: './components/schemas/CampaignList.yaml'
    CampaignInsights:
      $ref: './components/schemas/CampaignInsights.yaml'
    CampaignInsightsList:
      $ref: './components/schemas/CampaignInsightsList.yaml'
    AdSet:
      $ref: './components/schemas/AdSet.yaml'
    AdSetList:
      $ref: './components/schemas/AdSetList.yaml'
    AdSetInsights:
      $ref: './components/schemas/AdSetInsights.yaml'
    AdSetInsightsList:
      $ref: './components/schemas/AdSetInsightsList.yaml'
    Ad:
      $ref: './components/schemas/Ad.yaml'
    AdList:
      $ref: './components/schemas/AdList.yaml'
    AdInsights:
      $ref: './components/schemas/AdInsights.yaml'
    AdInsightsList:
      $ref: './components/schemas/AdInsightsList.yaml'
    AdsActionStats:
      $ref: './components/schemas/AdsActionStats.yaml'
    AdsInsightsComparison:
      $ref: './components/schemas/AdsInsightsComparison.yaml'
    AdsInsightsDdaResult:
      $ref: './components/schemas/AdsInsightsDdaResult.yaml'
    AdsHistogramStats:
      $ref: './components/schemas/AdsHistogramStats.yaml'
    Targeting:
      $ref: './components/schemas/Targeting.yaml'
  parameters:
    campaignId:
      $ref: './components/parameters/campaignId.yaml'
    adSetId:
      $ref: './components/parameters/adSetId.yaml'
    adId:
      $ref: './components/parameters/adId.yaml'
    date_preset:
      $ref: './components/parameters/date_preset.yaml'
    time_range:
      $ref: './components/parameters/time_range.yaml'
    level:
      $ref: './components/parameters/level.yaml'
    breakdowns:
      $ref: './components/parameters/breakdowns.yaml'
    fields:
      $ref: './components/parameters/fields.yaml'
    sort:
      $ref: './components/parameters/sort.yaml'
    filtering:
      $ref: './components/parameters/filtering.yaml'
    action_attribution_windows:
      $ref: './components/parameters/action_attribution_windows.yaml'
    action_breakdowns:
      $ref: './components/parameters/action_breakdowns.yaml'
    effective_status:
      $ref: './components/parameters/effective_status.yaml'
    updated_since:
      $ref: './components/parameters/updated_since.yaml'
  responses:
    '200':
      $ref: './components/responses/200.yaml'
    BadRequest:
      $ref: './components/responses/BadRequest.yaml'
    NotFound:
      $ref: './components/responses/NotFound.yaml'
  securitySchemes:
    OAuth2:
      $ref: './components/securitySchemes/OAuth2.yaml'
security:
  - OAuth2:
      - ads_read
      - ads_management
