/* colors.css */
:root {
    --primary-color: #da291c;
    --secondary-color: #ba0020;
    --accent-color: #000000;
    --background-color: #ffffff;
    --hover-color: #da291c;
    --text-color: #000000;
  }
  